<div class="container h-100" style="height: 70vh !important;">
    <div class="row h-100">
        <div class="col-md-4 col-xs-10 align-self-center mx-auto">
            <div class="card card-block">
                <div class="card-body">
                    <h3 class="card-title text-center">{{title}}</h3>

                    <ng-content></ng-content>

                    <!-- <form [formGroup]="form" (ngSubmit)="onSubmit(form)" novalidate>

                        <div class="form-check">
                            <label for="remember-me" class="form-check-label noselect">
                                <input type="checkbox" id="remember-me" class="form-check-input" formControlName="rememberMe">
                                Se souvenir de moi
                            </label>
                        </div>
                        <br>
                        <button mdbBtn type="submit" mdbWavesEffect class="btn btn-block btn-success">
                            <span *ngIf="!loading; then buttonText; else buttonLoading"></span>
                        </button>
                        <br>
                        <button class="btn btn-link text-small btn-block" type="button" (click)="onPasswordRecovery()">Mot
                            de passe oublié?</button>
                    </form> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
<ng-template #buttonText>
    <span>Se Connecter</span>
</ng-template>

<ng-template #buttonLoading>
    <i class="fa fa-spinner fa-spin fa-2x"></i>
</ng-template> -->