<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark red darken-1 scrolling-navbar fixed-top">
    <mdb-navbar-brand>
        <a class="navbar-brand" href="#">Courajeux</a>
    </mdb-navbar-brand>

    <!-- <div class="collapse navbar-collapse" id="navbarColor01"> -->
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li dropdown class="nav-item dropdown">
                <a dropdownToggle mdbWavesEffect class="nav-link dropdown-toggle waves-light" id="navbarDropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink">
                    <h6 class="dropdown-header">{{ auth.user$.displayName}}</h6>
                    <a class="dropdown-item" href="#">Préférences</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()">Déconnexion</a>
                </div>
            </li>
        </ul>
    </links>
    <!-- </div> -->
</mdb-navbar>