<app-single-card-layout title="Connexion">
    <form class="text-center" style="color: #757575;" [formGroup]="form" (submit)="submit()">

        <!-- Email -->
        <div class="md-form">
            <input type="email" id="materialLoginFormEmail" class="form-control" formControlName="email"
                mdbInputDirective data-success="Ok!" [errorMessage]="emailValidationMessage">
            <label for="materialLoginFormEmail">E-mail</label>
        </div>

        <!-- Password -->
        <div class="md-form">
            <input type="password" id="materialLoginFormPassword" class="form-control" formControlName="password"
                mdbInputDirective data-success="Ok!" [errorMessage]="passwordValidationMessage">
            <label for="materialLoginFormPassword">Mot de passe</label>
        </div>

        <div class="d-flex justify-content-around">
            <div>
                <!-- Forgot password -->
                <a routerLink="/PasswordRecovery">Mot de passe oublié?</a>
            </div>
        </div>

        <!-- Sign in button -->
        <button [disabled]="!form.valid" mdbBtn color="info" block="true" class="my-4" type="submit">Connexion</button>

    </form>
</app-single-card-layout>